<div id="user-widget">
    <div id="user-list">
        {{
         render(controller(
         'SimusanteUserwidgetBundle:Userwidget:userwidgetList',
         {'widgetInstance': widgetInstance.getId()}
         ))
        }}
    </div>
</div>